@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
  --darkPink: #d37676;
  --mediumPink: #e6b0b0;
  --lightPink: #faeaea;
  --lightPinkbg: #fefaf8;
}

body {
  color: var(--foreground);
  background: var(--lightPinkbg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
